/* Generales */
*¨ {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	height: auto;
}

.page-title {
	margin-left: 1rem;
}

/* Formulario */
form {
	width: 21%;
	margin: 1rem;
	border: 1px solid #000;
	border-radius: 8px;
	padding: 1rem;
	font-size: small;
	font-weight: bold;
	background-color: rgb(209, 237, 255);
}

input {
	display: block;
	margin-bottom: 0.5rem;
	margin-top: 0.3rem;
	padding: 5px;
	border-radius: 8px;
	width: 60%;
}

.message_info {
	width: 21%;
	margin: 1rem;
	padding: 0.5rem;
	font-size: small;
	text-align: center;
	background-color: rgb(243, 220, 9);
	color: #000000;
}

/* Botones */
.btn-style-container {
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.btn-style-sin-Contraste,
.btn-style-contraste,
.form-btn {
	padding: 8px;
	background-color: #000;
	color: #ffffff;
	border-radius: 5px;
	border: 0;
	box-shadow: 1px 2px 3px #2b2b2b;
	font-weight: bold;
}

.btn-style-sin-Contraste:hover,
.btn-style-contraste:hover,
.form-btn:hover {
	box-shadow: 5px 5px 2px #2b2b2b;
	border: #000000 1px solid;
}

.btn-style-contraste {
	margin-left: 0.5rem;
}

.form-btn {
	background-color: rgb(0, 93, 180);
	color: rgb(255, 255, 255);
	display: inline;
	margin-top: 1.5rem;
	width: 40%;
}

.reset-btn {
	margin-left: 1rem;
	background-color: rgb(170, 170, 170);
	color: rgb(0, 0, 0);
}

/* Alto Contraste */
.contrast-high {
	background-color: #000;
	color: #fff;
}

.contrast-high-btn {
	background-color: #fff;
	color: #000;
}

.contrast-high-btn:hover {
	background-color: #fbff00;
	box-shadow: 5px 5px 2px #fffb00;
}
